In [32]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import preprocessing

In [34]:
data=pd.read_excel("C:/Users/harish/Desktop/LETS UPGRADE/Bank_Personal_Loan_Modelling (1).xlsx",sheet_name=1)
data

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [35]:
data.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [37]:
from sklearn.ensemble import RandomForestClassifier

In [38]:
rf=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [41]:
features=["ID","Age","Experience","Income","ZIP Code","Family","CCAvg","Education","Mortgage","Securities Account","CD Account","Online","CreditCard"]

In [42]:
rf.fit(X=data[features],y=data["Personal Loan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [43]:
print(rf.oob_score_)

0.9854

In [44]:
for feature,imp in zip(features,rf.feature_importances_):
    print(feature,imp);

ID 0.043724544955066474
Age 0.03896258925833572
Experience 0.03782080458066283
Income 0.3175980930906351
ZIP Code 0.040686317968493736
Family 0.08656458767775697
CCAvg 0.1714301309824964
Education 0.14744381206141588
Mortgage 0.041082599360689996
Securities Account 0.005000660900812544
CD Account 0.05328679992848382
Online 0.007857737296500675
CreditCard 0.008541321938649836

In [56]:
tm1=tree.DecisionTreeClassifier(max_depth=6)

In [57]:
preds=pd.DataFrame([data["Income"],data["CCAvg"],data["Education"]]).T

In [58]:
tm1.fit(X=preds,y=data["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [60]:
with open("dtree4.dot",'w') as f:
    f=tree.export_graphviz(tm1,feature_names=["Income","CCAvg","Education"],out_file=f);