In [2]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_csv("C:/Users/harish/Desktop/LETS UPGRADE/general_data.csv")
data

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [13]:
data["NumCompaniesWorked"]=data["NumCompaniesWorked"].fillna(method="pad")

In [17]:
data["TotalWorkingYears"]=data["TotalWorkingYears"].fillna(method="pad")

In [19]:
data.isnull().sum().sum()

0

In [34]:
from sklearn.preprocessing import LabelEncoder

In [35]:
le=LabelEncoder()

In [47]:
data["Attrition"]=le.fit_transform(data["Attrition"])

In [48]:
y=data["Attrition"]

In [49]:
X=data[["Age","DistanceFromHome","Education","PercentSalaryHike","YearsAtCompany"]]

In [50]:
import statsmodels.api as sm

In [51]:
X1=sm.add_constant(X)

In [52]:
logistic=sm.Logit(y,X1)

In [53]:
result=logistic.fit()

Optimization terminated successfully.
         Current function value: 0.422346
         Iterations 6

In [54]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4410
Model:                          Logit   Df Residuals:                     4404
Method:                           MLE   Df Model:                            5
Date:                Mon, 17 Aug 2020   Pseudo R-squ.:                 0.04381
Time:                        14:57:43   Log-Likelihood:                -1862.5
converged:                       True   LL-Null:                       -1947.9
Covariance Type:            nonrobust   LLR p-value:                 5.285e-35
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 0.0934      0.286      0.327      0.744      -0.466       0.653
Age                  -0.0410      0.005     -8.022      0.000      -0.051      -0.031
DistanceFromHome     -0.0021      0.005     -0.408      0.683      -0.012       0.008
Education            -0.0531      0.041     -1.301      0.193      -0.133       0.027
PercentSalaryHike     0.0174      0.011      1.549      0.121      -0.005       0.039
YearsAtCompany       -0.0623      0.010     -6.444      0.000      -0.081      -0.043
=====================================================================================
"""