In [1]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_excel("C:/Users/harish/Desktop/LETS UPGRADE/Bank_Personal_Loan_Modelling (1).xlsx",sheet_name=1)
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [5]:
y=data["Personal Loan"]

In [6]:
X=data[["Income","CCAvg","Securities Account"]]

In [7]:
import statsmodels.api as sm

In [8]:
X1=sm.add_constant(X)

In [9]:
Log=sm.Logit(y,X1)

In [10]:
result=Log.fit()

Optimization terminated successfully.
         Current function value: 0.200561
         Iterations 8

In [11]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4996
Method:                           MLE   Df Model:                            3
Date:                Tue, 11 Aug 2020   Pseudo R-squ.:                  0.3657
Time:                        09:12:09   Log-Likelihood:                -1002.8
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                2.079e-250
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                 -6.2013      0.190    -32.587      0.000      -6.574      -5.828
Income                 0.0357      0.002     22.848      0.000       0.033       0.039
CCAvg                  0.0610      0.029      2.140      0.032       0.005       0.117
Securities Account     0.4370      0.180      2.427      0.015       0.084       0.790
======================================================================================
"""